.netflix-red-text{
    color: rgb(229, 9, 20);
}

.netflix-yellow-text{
    color: rgb(229, 141, 9);
}

.netflix-blue-text{
    color: rgb(0, 113, 235);
}

.netflix-grey-text{
    color:rgb(102, 102, 102);
}

img.img{
    max-width: 100%;
}

.netflix-banner{
    background-color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.netflix-input{
    position: relative;
}

.netflix-input label{
    position: absolute;
    font-family: "Helvetica";
    font-weight: bold;
    padding-left: 15px;
    color: rgb(161, 161, 161);
    transform: translateY(18px);
    transition: all 0.1s ease-in-out;
}

.netflix-input label.trans{
    transform: translateY(5px);
}

.netflix-input input{
    width: 100%;
    border: none;
    padding: 18px 15px;
    background-color: white;
    font-family: "Helvetica";
    border-radius: 2px;
}

.netflix-input input:focus{
    background-color: white;
}

.netflix-input.warning::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(229, 141, 9);
}

button.netflix-subscribe-btn{
    font-family: "Helvetica";
    color: white;
    background-color:rgb(229, 9, 20);
    padding: 16px 15px;
}

a.netflix-small-btn{
    font-family: "Helvetica";
    color: white;
    background-color:rgb(229, 9, 20);
    padding: 7px 15px;
    border-radius: 3px;
}

video.trans-video{
    transform: scale(0.90);
}

.content-card{
    position: absolute;
    border: 2px solid rgb(48, 48, 48);
    background-color: black;
    border-radius: 10px;
}

.break-color{
    background-color: rgb(48, 48, 48);
}

.collapsable{
    background-color: rgb(48, 48, 48);
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.collapsable .collapsable-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #000;
}

.collapsable .collapsable-body{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    margin-bottom: 5px;
}

.collapsable .collapsable-body.active{
    max-height: 100%;
    overflow: auto; 
}

a.link{
    font-family: "Helvetica";
    color:rgb(102, 102, 102);
    text-decoration: none;
}

a.link:hover{
    text-decoration: underline;
}

ul.netflix-list{
    display: block;
    font-family: "Helvetica";
}

ul.netflix-list li{
    list-style: none;
    font-family: "Helvetica";
    margin-bottom: 10px;
    color: rgb(102, 102, 102);
}

ul.netflix-list li a{
    font-family: "Helvetica";
    text-decoration: none;
    color:rgb(102, 102, 102)
}

ul.netflix-list li a:hover{
    text-decoration: underline;
}

.show-in-media{
    display: none;
}

.hide-in-media{
    display: block;
}


@media(max-width: 420px){
    .netflix-banner{
        background-color: rgba(0, 0, 0, 1);
    }

    .netflix-input input{
        padding: 13px 12px;
    }

    .netflix-input label{
        transform: translateY(12px);
    }
    
    .netflix-input label.trans{
        transform: translateY(5px);
    }

    button.netflix-subscribe-btn{
        padding: 12px 10px;
    }

    video.trans-video{
        transform: scale(0.60);
    }

    .center-text-in-media{
        text-align: center;
    }

    .show-in-media{
        display: block;
    }

    .hide-in-media{
        display: none;
    }
}

@media(max-width: 521px) and (min-width:421px){
    .netflix-banner{
        background-color: rgba(0, 0, 0, 1);
    }

    .netflix-input input{
        padding: 13px 12px;
    }

    .netflix-input label{
        transform: translateY(12px);
    }
    
    .netflix-input label.trans{
        transform: translateY(5px);
    }

    button.netflix-subscribe-btn{
        padding: 12px 10px;
    }

    video.trans-video{
        transform: scale(0.75);
    }

    .center-text-in-media{
        text-align: center;
    }

    .show-in-media{
        display: block;
    }

    .hide-in-media{
        display: none;
    }
}

@media(max-width: 620px) and (min-width: 521px){
    .netflix-banner{
        background-color: rgba(0, 0, 0, 1);
    }

    .netflix-input input{
        padding: 13px 12px;
    }

    .netflix-input label{
        transform: translateY(12px);
    }
    
    .netflix-input label.trans{
        transform: translateY(5px);
    }

    button.netflix-subscribe-btn{
        padding: 12px 10px;
    }

    video.trans-video{
        transform: scale(0.90);
    }

    .center-text-in-media{
        text-align: center;
    }

    .show-in-media{
        display: block;
    }

    .hide-in-media{
        display: none;
    }
}

@media(max-width: 820px) and (min-width: 621px){
    .center-text-in-media{
        text-align: center;
    }

    .show-in-media{
        display: block;
    }

    .hide-in-media{
        display: none;
    }
}

@media(max-width: 1120px) and (min-width: 821px){
    .center-text-in-media{
        text-align: center;
    }

    .show-in-media{
        display: block;
    }

    .hide-in-media{
        display: none;
    }
}